*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Comfortaa', cursive;
    background: url('./images/bg_6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: rgb(146, 239, 212);
    color: rgb(0, 0, 0);
  }
  .logo{
    color: #fff;
  }
  .navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-self: right;
  background-color: rgba(28, 28, 28, 0.582);
  }
  .hero {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #000;
    background-image: url("./images/img_0.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }
  
  header.hero .hero-heading {
    font-size: 2.25rem;
    font-weight:400;
    opacity:initial;
    line-height: 3.25rem;
    margin-bottom:3rem;
    color: rgb(255, 255, 255);
  }
  
  /*Major Causes Section*/
  .page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
  }
  
  
  
  
  
  
  
  /*End of Major Causes Section */
  
  
  
  
  /*Project Section */
  #project .project-item {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
  }
  #project .project-item .project-link {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  #project .project-item .project-link .project-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(254, 209, 54, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
  }
  #project .project-item .project-link .project-hover 
  .project-hover-content {
    font-size: 1.25rem;
    color: white;
  }
  #project .project-item .project-link:hover .project-hover {
    opacity: 1;
  }
  #project .project-item .project-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
  }
  #project .project-item .project-caption .project-caption-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  #project .project-item .project-caption .project-caption-subheading {
    font-style: italic;
   }
  
  .project-modal .modal-dialog {
    margin: 5rem;
    max-width: 70vw;
    margin: 0px 400px;
    margin-top: 50px;
  }
  .project-modal .modal-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .project-modal .modal-content h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .project-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 1rem;
  }
  .project-modal .modal-content p {
    margin-bottom: 1rem;
  }
  .project-modal .modal-content ul.list-inline {
    margin-bottom: 1rem;
  }
  .project-modal .modal-content img {
    margin-bottom: 1rem;
  }
  .project-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background-color: transparent;
  }
  .project-modal .close-modal:hover {
    opacity: 0.3;
  }
  /*End of Project*/
  /* About section*/
  
  .about {
  padding: 10px 0 0 0;
  color: #fcfcfc;
  }
  
  .about .icon-boxes h3 {
  font-size: 35px;
  font-weight: bold;
  color: #faf1f1;
  margin-bottom: 15px;
  }
  
  .about .icon-box {
  margin-top: 40px;
  }
  
  .about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #055253;
  border-radius: 50px;
  transition: 0.5s;
  }
  
  .about .icon-box .icon i {
  color: #a4f4e9;
  font-size: 32px;
  }
  
  .about .icon-box:hover .icon {
  background: #b0e6d7;
  border-color: #05bfcc
  }
  
  .about .icon-box:hover .icon i {
  color: #fff;
  }
  
  .about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  }
  
  .about .icon-box .title a {
  color: #000000;
  transition: 0.3s;
  }
  
  .about .icon-box .title a:hover {
  color: #a9e3dc;
  }
  
  .about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  }
  
  /* end of About Section*/
  /*Team Section*/
  
  .box
  {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
  }
  
  .box .img-box
  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
  }
  .box:hover .img-box
  {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
  }
  .box .img-box img
  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .box .content
  {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  }
  .box .content h2
  {
  margin: 0;
  padding: 0;
  }
  .box .content a
  {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
  }
  .box .content h2,
  .box .content p,
  .box .content a
  {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
  }
  .box:hover .content h2
  {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s
  }
  .box:hover .content p
  {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s
  }
  .box:hover .content a
  {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s
  }
  /* End of Team Section*/
  /* Blog Section */
  .ribbon{
    width: 100px;
    height: 100px;
    margin: -10px auto;
    background: #f0d803; 
    position: absolute;
    top: 0;
    right:0;
  }
  .ribbon:before{
    content:"";
    position: absolute;
    bottom: -30px;
    left: 0;
    border-left: 75px solid #f0d803;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
  .ribbon:after{
    content:"";
    position: absolute;
    bottom: -30px;
    right: 0;
    border-right: 75px solid #f0d803;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  
  }
  .text{
    text-align: center;
    
  }
  .btn-color{
    background: #f0d803;
  }
  
  
  /*End of Blog Section*/
  
  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact .info {
  padding: 20px 40px;
  background: #f7e759;
  color: #131313;
  text-align: center;
  border: 1px solid #fff;
  }
  
  .contact .info i {
  font-size: 30px;
  color: #a31818;
  margin-bottom: 15px;
  }
  
  .contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  }
  
  .contact .info p {
  font-size: 15px;
  }
  .rounded-cor{
  border-radius: 50px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  