body{
    margin: 0;
    padding: 0;
    background-color: #EDEFF6;
}

.main-container{
    background: linear-gradient(to bottom,  #252041 40%,white 0 60%);
    border-radius: 10px;
    width: 25%;
    /* height: 550px; */
    height: auto;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 120px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.151);
}
#heading{
    color: white;
    /* padding-top: -30px; */
    margin-top: -30px;
    font-weight: 500;
}
.first-sub{
    margin-right: 120px;
    margin-left: 50px;
}
.closeBtn{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}
.fa-close{
    color: white;
    /* margin-left: 330px; */
    margin-top: 20px;
    background-color: #362D5B;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
    /* font-weight: 500; */
    font-size: 15px;
}
.radio{
    display: flex;
    margin-top: 30px;
}
.radio-btn-txt{
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-right: 20px;
}
input[type=radio] {
    border: 5px;
    width: 100%;
    height: 1.4em;
}
.rd-btn{
    margin-top: 20px;
    margin-left: 0px;
}
#heading-2{
    margin: 55px 0 0 35px;
    font-size: 25px;
    font-weight: 500;
}
.people-box-1{
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 12px;
    width: 22%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.people-box-1 h4{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.people-box-1 i{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 8px;
    
}
.second-sub{
    display: flex;
}
.people-box-2{
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 12px;
    width: 22%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    
}
.people-box-2 i{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    
}
.people-box-2 h4{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-top: 12px;
}
.people-box-3{
    background-color: #261F43;
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 12px;
    width: 22%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.people-box-3 h4{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-top: 12px;
    color: white;
}
.people-box-3 i{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    
}

.nxt-btn{
    text-decoration: none;
    background-color: #D81D60;
    /* margin-left: 28px; */
    margin: auto;
    padding: 10px 120px 10px 120px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    color: white;
    border-radius: 12px;
    /* margin-top: -30px; */
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.151);
}
.nextBtn{
    display: flex;
    margin-top: -30px;
    width: 100%;
}