header {
    height: 81px;
    margin: 0 100px 0 100px;
    border-bottom: 1px solid #556561;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-logo {
    width: 105.18px;
}

.menus {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: 'Manrope', sans-serif;
    color: #556561;

}

.menus>li:hover {
    color: #000;
    transition: .2s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px;
}

.h-button-bg {
    background: #26534C;
    font-size: 14px;
    border: none;
    color: white;
    padding: 15px 35px;
    border-radius: 4px;
    transition: .2s ease-in-out;

}

.h-button-bg:hover {
    background: #1F453F;
}

.h-button {
    background: transparent;
    font-size: 14px;
    border: none;
    color: black;
    padding: 15px 35px;
    border-radius: 4px;
    transition: .2s ease-in-out;

}

.h-button:hover {
    background: #E2DFD2;
    /* color: #888888; */

}