.title {
    text-align: center;
    font-size: 60px;
    color: #1C3F39;
    margin-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.title>span::before {
    content: "";
    width: 203px;
    height: 94px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #F2AC0D;



}

.subtitle {
    text-align: center;
    font-size: 18px;
    color: #556561;
    margin-top: 28px;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    margin: 28px 330px;
}

.main {
    z-index: 100;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


.red-quran-btn {
    background: #F2AC0D;
    font-size: 14px;
    border: none;
    color: #1C3F39;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 4px;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;


}

.red-quran-btn>img {
    width: 17px;
    height: 16px;

    margin-right: 8px;
}

.red-quran-btn:hover {
    background: #FFC84D;
}

.audio-quran-btn {
    background: transparent;
    font-size: 14px;
    border: none;
    color: #1C3F39;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 4px;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;
    border: 1px solid #1C3F39;


}

.audio-quran-btn>img {
    width: 10px;
    height: 16px;
    margin-right: 8px;

}

.audio-quran-btn:hover {
    background: #54545428;
    border: 1px solid #54545428;


}

.hero-img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 20px;
}

.hero-img-section>img {
    width: 670px;
    height: 444px;


}

.hero-info {
    background-color: #1C3F39;
    height: 210px;
    padding: 0 100px 0 100px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.hero-info>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

.hero-info>ul>li>h2 {
    color: #F2AC0D;

}

.hero-info>ul>li>p {
    color: #B7CBC7;

}

@media only screen and (max-width:1024px) {
    .subtitle {

        margin: 28px 200px;

    }
}

@media only screen and (max-width:880px) {
    .subtitle {

        margin: 28px 150px;

    }
}

@media only screen and (max-width:604px) {
    .title {
        font-size: 36px;
        margin-top: 20px;
    }

    .title>span::before {
        width: 125px;
        height: 57px;
    }

    .subtitle {
        font-size: 14px;
        margin: 20px 30px;

    }
}

@media only screen and (max-width:400px) {
    .her-btn {
        font-size: 12px;
        padding: 15px 25px;

    }
}